.infos{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 25px;


}
.funds{
    background-color: #ff5500 ;
}
.paid-course{
    background-color: #2c17fa; 
}
.course-sum{
    background-color: #ff5500 ;;
}
.user-sum{
    background-color: #2c17fa;
}
.funds,.paid-course,.course-sum,.user-sum {
    width: 300px;
    height: 100px;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    color: white;
}
.info-container{
    display: flex;
    flex-direction: row;
    padding: 15px;
}
i{
    font-size: 30px;
}
.all-users{
    display: flex;
    align-items: center;
    justify-content: center;
}

.connected-user{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
/*table design*/
.styled-table {
    border-collapse: collapse;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.styled-table thead tr {
    background-color: #0d6efd;
    color: #ffffff; 
    text-align: left;
}
.styled-table th,
.styled-table td {
    padding: 12px 15px;
}
.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #0d6efd;
}
.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #d1f7ef;
}
.actions{
    display: flex;
    flex-direction: row;
}